.TextField {
    flex: 1;
    max-width: 100%;
    position: relative;
    padding: 4px;
    display: block;
}

.TextField .Name {
    font-size: 8pt;
    padding-left: 5px;
    font-weight: bold;
    color: gray;
}

.TextField .Value {
    padding-left: 20px;
    border-bottom: 1px solid gray;
}

.TextField .Value > span {
    display: flex;
    flex-wrap: wrap;
}